.title {
  color: #02ccba;
}

html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.08em;
    line-height: 1.8em;
    font-family: 'Times New Roman','ヒラギノ明朝 Pro W3','Hiragino Mincho Pro',Verdana,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",Osaka,sans-serif;
}

user agent stylesheet
html {
    display: block;
}
